# MEDHACK Beginner Kaggle Competition

In [7]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("train_data.csv")

In [3]:
df.head()

,timestamp,patient_id,first_name,last_name,age,gender,address,city,state,postcode,diastolic_bp,systolic_bp,heart_rate,respiratory_rate,oxygen_saturation,state_label
0,2025-01-01 19:00:00,b317e7ee-8af7-3e9c-3e0f-646395b8c81a,Howard613,Altenwerth646,42,M,2/58 JASPER ROAD,BENTLEIGH,VIC,3204,79.9,118.3,74.4,17.1,98.6,0
1,2025-01-01 19:00:05,b317e7ee-8af7-3e9c-3e0f-646395b8c81a,Howard613,Altenwerth646,42,M,2/58 JASPER ROAD,BENTLEIGH,VIC,3204,79.2,119.0,75.8,16.0,96.0,0
2,2025-01-01 19:00:10,b317e7ee-8af7-3e9c-3e0f-646395b8c81a,Howard613,Altenwerth646,42,M,2/58 JASPER ROAD,BENTLEIGH,VIC,3204,80.8,119.6,74.3,16.5,96.8,0
3,2025-01-01 19:00:15,b317e7ee-8af7-3e9c-3e0f-646395b8c81a,Howard613,Altenwerth646,42,M,2/58 JASPER ROAD,BENTLEIGH,VIC,3204,81.3,120.2,75.1,16.9,96.9,0
4,2025-01-01 19:00:20,b317e7ee-8af7-3e9c-3e0f-646395b8c81a,Howard613,Altenwerth646,42,M,2/58 JASPER ROAD,BENTLEIGH,VIC,3204,79.9,118.2,75.9,16.3,97.2,0

In [8]:
X = df.drop('state_label', axis=1)  # Features (input data)
y = df['state_label']  # Target (output data)

# Perform train-test split (80% train, 20% test by default)
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=7)

# Print the shapes of the resulting datasets
print(f"Training data (features) shape: {X_train.shape}")
print(f"Testing data (features) shape: {X_val.shape}")
print(f"Training data (target) shape: {y_train.shape}")
print(f"Testing data (target) shape: {y_val.shape}")

Training data (features) shape: (9644544, 15)
Testing data (features) shape: (2411136, 15)
Training data (target) shape: (9644544,)
Testing data (target) shape: (2411136,)

9549963     0
4638799     0
1987395     0
11995327    1
2729804     1
Name: state_label, dtype: int64